@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model List<First_App.Models.Student>
@{
    ViewData["Title"] = "GetAll";
    List<Student> students = (List<Student>)ViewBag.Students;
}



<h2>GetAll</h2>

<table class="table table-bordered">

    <tr>
        <th>Name</th>
        <th>RegNo</th>
        <th>Email</th>
        <th>Address</th>
        <th>Department</th>
    </tr>
    @foreach (var item in Model)

    { 
        <tr>
            <td>@item.Name</td>
            <td>@item.RegNo</td>
            <td>@item.Email</td>
            <td>@item.Address</td>
            <td>@item.Department</td>
            
        </tr>
    }

</table>
