@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model First_App.Models.Student

@{

    ViewData["Title"] = "SaveStudent";
}

<h2>Save Student Form</h2>
<h3>@ViewBag.Message</h3>

@using (Html.BeginForm(FormMethod.Post))
{
    <table>
        <tr>
            <td>@Html.LabelFor(expression:c => c.Name)</td>
            <td>@Html.TextBoxFor(expression:c => c.Name, htmlAttributes: new { @class = "form-control"}) </td>
            <td>@Html.ValidationMessageFor(expression: c => c.Name)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(expression:c => c.RegNo)</td>
            <td>@Html.TextBoxFor(expression: c => c.RegNo, htmlAttributes: new { @class = "form-control" })  </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(expression:c => c.Email)</td>
            <td>@Html.TextBoxFor(expression:c => c.Email, htmlAttributes: new { @class = "form-control"})  </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(expression:c => c.Address)</td>
            <td>@Html.TextBoxFor(expression:c => c.Address, htmlAttributes: new { @class = "form-control"}) </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(expression:c => c.Department)</td>
            <td>@Html.DropDownListFor(expression:c => c.Department, new SelectList(ViewBag.Department,"Id","ShortName"), "---Select---", new { @class = "form-control" }) </td>
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" value="Save" /></td>
        </tr>
    </table>


    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>RegNo</th>
                <th>Email</th>
                <th>Address</th>
                <th>Department</th>
            </tr>
        </thead>

        @foreach (var item in ViewBag.Students)

        {
            <tr>
                <td>@item.Name</td>
                <td>@item.RegNo</td>
                <td>@item.Email</td>
                <td>@item.Address</td>
                <td>@item.Department</td>

            </tr>
        }

    </table>

}
